label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}

.payroll-settings {
  display: flex;
  margin-bottom: 15px;

  > div:first-child {
    margin-right: 15px;
  }
}

.profession-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .profession-radio-button {
    margin: 5px;
  }
}

button {
  display: block;
  margin: auto;
}

@media screen and (max-width: 540px) {
  .payroll-settings {
    flex-direction: column;
  }
}
